{# le template herite de base.html.twig  à la racine de templates #}
{% extends'base.html.twig' %}

{# surcherge du contenu du block body de base.html.twig #}
{% block body %}
    <h1>Hello world</h1>
{% endblock %}